.is-loading {
    position: relative;
    > * {
        opacity: .2;
    }
    &::before,
    &::after {
        position: absolute;
        right: 0;
        left: 0;
    }
    &::before {
        content: "";
        top: 1rem;
        width: 5rem;
        height: 5rem;
        display: block;
        margin: auto;
        border-radius: 50%;
        border: 1rem solid var(--color-main-500);
        border-color: var(--color-main-500) transparent var(--color-main-500) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    &::after {
        content: "A carregar...";
        top: 9rem;
        padding: 1px 5px;
        text-align: center;
        font-weight: 500;
    }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}