:root {

    /* Colors */
    --color-main-500: #0077CC;

    --color-grey-200: #eee;
    --color-grey-300: #CCC;
    --color-grey-500: #747474;

    --color-danger: #FF0000;

    /* Gaps */
    --gap: 2.4rem;
    --gap-sm: calc(var(--gap) / 2);
    --gap-xs: calc(var(--gap) / 4);
    --gap-lg: calc(var(--gap) * 1.5);

    /* Sizes */
    --header-height: 5.5rem;
    --input-height: 4rem;

    /* Text */
    --font-size: 1.6rem;

}