:root {

    /* Text */
    --font-size: 1.6rem;
    --font-size--sm: 1.4rem;

    /* Colors */
    --color-main-500-raw: 0 119 204;
    --color-main-500: rgb(var(--color-main-500-raw));

    --color-grey-100: #FAFAFA;
    --color-grey-200: #eee;
    --color-grey-300: #CCC;
    --color-grey-500: #747474;
    --color-default: rgba(0,0,0,.87);;

    --color-danger-raw: 255 0 0;
    --color-danger: rgb(var(--color-danger-raw));

    /* Gaps */
    --gap: 2.4rem;
    --gap-sm: calc(var(--gap) / 2);
    --gap-xs: calc(var(--gap) / 4);
    --gap-lg: calc(var(--gap) * 1.5);
    
    @media (max-width: 500px) {
        --gap: 1.6rem;
    }

    /* Sizes */
    --header-height: 5.5rem;
    --input-height: 4rem;


    /* Other */
    --toastr-duration: 0.5s;
}