html,
body {
    height: 100%;
    font-size: 62.5%;
}
body {
    overflow: hidden;
    color: var(--color-default);
}
body,
button,
input,
select {
    font-family: 'Segoe UI', sans-serif;
    font-size: var(--font-size);
}
body,
button,
input,
ul,
p {
    margin: 0;
}
p:empty {
    display: none;
}
button {
    padding: 0;
    border: none;
    background: none;
}

a {
    color: inherit;
    fill: inherit;
    text-decoration: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}
svg {
    width: 100%;
    height: 100%;
}