.a-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}
.a-icon {
    width: 2.4rem;
    height: 2.4rem;
}
.a-button {
    padding: 0 var(--gap-sm);
    background-color: var(--color-main-500);
    color: #FFF;
}

.a-input--xs {
    width: 8rem;
}
.a-input--sm {
    width: 16.5rem;
}