.c-navigation {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: var(--header-height);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 var(--gap);
        opacity: 0.74;
    }
    .router-link-exact-active {
        opacity: 1;
    }
    
    @media (max-width: 650px) {
        position: static;
        box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
        background-color: #FFF;
        a {
            flex: 1;
        }
    }
}