.o-stack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--gap);
    > * {
        flex: 1;
    }
    &.--sm {
        gap: var(--gap-sm);
    }
    &.--inline {
        flex-direction: row;
        @media (max-width: 25rem) {
            flex-direction: column;
        }
    }
}